<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <%if (user) {%>
    <div class="display-2">Editar Datos</div>
    <br>
    <div class="abs-center">
        <form action="/update" method="post" class="border p-3 form">
            <div>
                <label for="user">Boleta</label>
                <input type="text" name="bol" id="bol" class="form-control" value="<%= user.bol%>" readonly>
            </div>
            <div>
                <label for="user">Nombre</label>
                <input type="text" name="nom" id="nom" class="form-control" value="<%= user.nom%>">
            </div>
            <div>
                <label for="user">Apellido Paterno</label>
                <input type="text" name="appat" id="appat" class="form-control" value="<%= user.appat%>">
            </div>
            <div>
                <label for="user">Apellido Materno</label>
                <input type="text" name="apmat" id="apmat" class="form-control" value="<%= user.apmat%>">
            </div>
            <div>
                <label for="user">Teléfono</label>
                <input type="text" name="tel" id="tel" class="form-control" value="<%= user.tel%>">
            </div>
            <button type="submit" class="Guardar" class="btn btn-outline-success">Guardar</button>
            <a href="/" class="Cancelar" class="link-danger">Cancelar</a>
        </form>
    </div>
    <%}%>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>